html {
    scroll-behavior: smooth;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    background-color: #222222;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    color: #FFF;
    overflow-x: hidden;
}

nav {
    width: 100%;
    text-align: center;
    position: fixed;
    z-index: 9999;
    background-color: #161616;
}

nav ul {
    list-style: none;
    padding-left: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin-right: 20px;
    flex: 1;
}

nav ul li:last-child {
    margin-right: 0;
}

nav ul li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.50);
    transition: color 0.5s ease;
    font-size: 30px;
}

nav ul li a:hover {
    color: white;
}

#inicio {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 100px;
    overflow: hidden;
}

.botao-link {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
    border-radius: 30px;
    border: 3px solid #D5D5D5;
    background: #333;
    transition: border 0.5s ease, color 0.5s ease;
}

.botao-link:hover {
    border: 3px solid #007CED;
    color: white;
}

.home-Desc {
    text-align: center;
    font-size: 30px;
    margin-top: 50px;
    width: 60%;
    padding-left: 100px;
    position: relative;
}

#circle {
    width: 50%;
    max-width: 450px;
    aspect-ratio: 1 / 1;
    flex-shrink: 0;
    border-radius: 50%;
    background: #444;
    box-shadow: inset 0 0 0 0.9em rgb(68, 68, 68);
    background-image: url("../img/eu.jpeg");
    background-size: cover;
    background-position: center;
    margin-top: 100px;
    position: relative;
    left: 10%;
    top: 40%;
}

#projects {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top:200px ;
}

#projects h2 {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background-color: #252525;
}

#projects-container {
    width: 100%;
    padding-bottom: 200px;
}

#projects-container ul {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    text-align: center;
    margin: 0;
    padding: 0;
}

#projects-container li {
    flex: 1 1 300px;
    padding: 10px;
    max-width: 100%;
    text-align: center;
    box-sizing: border-box;
    margin: 10px;
}

#projects-container li a {
    display: block;
    padding: 10px;
    text-decoration: none;
    font-weight: bold;
    color: rgba(255, 255, 255, 0.50);
    font-size: 20px;
}

#projects-container li a:hover {
    color:white;
}

.link {
    color: rgba(255, 255, 255, 0.50);
    transition: color 0.5s ease;
}

.link.selected,
.link:hover {
    color: white;
}

#desc-container {
    text-align: center;
    font-size: 20px;
}

#desc-container p {
    width: 100%;
    text-align: center;
    font-weight: 400;
    line-height: 1.5;
    opacity: 1;
    transition: opacity 0.5s ease;
}

#img-container {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

#img-container ul {
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

#img-container li {
    margin: 0;
}

.desc-img {
    width: 100%;
    max-width: 100%;
    height: auto;
    transition: opacity 0.5s ease-in-out;
    box-shadow: 8px 8px 8px 1px rgb(0, 0, 0);
}

#button-container {
    display: flex;
    justify-content: center;
}

#git-button {
    display: inline-block;
    padding: 10px 20px;
    color: rgba(255, 255, 255, 0.50);
    text-decoration: none;
    border-radius: 30px;
    border: 3px solid #D5D5D5;
    background: #333;
    transition: border 0.5s ease, color 0.5s ease;
}

#git-button:hover {
    border: 3px solid #007CED;
    color: white;
}

#contact-container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 0;
    gap: 50px;
    text-align: center;
    max-width: 1200px;
    margin: 0 auto;
}

ul {
    list-style: none;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact-text {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    text-align: center;
}

.contact-text img {
    width: 80px;
    height: auto;
    margin-bottom: 10px;
}

#about .contact-text {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.text-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.text-content h4 {
    margin: 0;
    font-size: 18px;
}

.text-content p {
    margin: 5px 0 0;
    font-size: 14px;
    color: rgb(131, 127, 127);
}

#contact h2 {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
    background-color: #252525;
    margin-bottom: 20px;
}

#contact h3 {
    margin: 0;
    padding: 30px 0;
    width: 100%;
    text-align: center;
    font-weight: bold;
    font-size: 40px;
}

#contact-text {
    display: flex;
}

h4 p {
    color: rgb(131, 127, 127);
    padding-left: 10px;
}

#form-container {
    width: 80%;
    max-width: 600px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

#form-container form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-sizing: border-box;
    font-size: 1em;
    background-color: #333;
}

textarea {
    resize: vertical;
}

button[type="submit"] {
    padding: 10px 20px;
    border: 3px solid #D5D5D5;
    border-radius: 30px;
    background-color:#444;
    font-size: 1em;
    color:#D5D5D5;
    cursor: pointer;
    transition: border 0.3s ease;
}

button[type="submit"]:hover {
    border: 3px solid #005AA7;
    color: white;
}

@media screen and (max-width: 768px) {
    nav ul li {
        margin-right: 10px;
    }

    #inicio {
        padding-bottom: 100px;
    }

    .home-Desc {
        width: 90%;
        font-size: 15px;
        margin: 20px auto;
        padding-top: 70px;
        padding-left: 10px;
        text-align: left;
    }

    #circle {
        width:50%;
        max-width: 100%;
        margin: 50px auto;
        top: initial;
        left: initial;
    }

    #projects h2 {
        font-size: 30px;
        padding-top: 30px;
    }

    #projects-container li {
        flex: 1 1 100%;
        max-width: 100%;
    }
}
